* text=auto

*.cs      text diff=csharp
*.csproj  text
*.props   text
*.sln     text eol=crlf
*.slnx    text
*.json    text
*.md      text
*.yml     text
*.sql     text
*.http    text

*.png binary
*.jpg binary
*.ico binary
